body {
    background-color: #f0f0f0;
  }
  .container {
    margin-top: 50px;
    max-width: 500px;
    margin-top: 40px;
  }
  .slugfest-logo {
    font-size: 48px;
    font-weight: bold;
    color: #333;
  }
  .slugfest-caption {
    color: #777;
  }
  